---
import AltSkeleton from '@/components/location/AltSkeleton.astro';
import MarkerSkeleton from '@/components/location/MarkerSkeleton.astro';
---

<section class="m-auto w-full object-center text-center select-none">
  <MarkerSkeleton />
  <AltSkeleton />
</section>
