---

---

<div
  class="svg-mask color-transparent transition-scale group m-auto h-[307.2px] w-[230.625px] max-w-full scale-100 cursor-cell bg-cover object-center duration-500 hover:scale-105"
>
  <div
    class="inline-block h-full w-full animate-pulse rounded bg-zinc-300 align-middle dark:bg-zinc-800"
  >
  </div>
</div>
