---
const { thumbnail } = Astro.props;
---

<div
  class="svg-mask color-transparent transition-scale group m-auto h-[307.2px] w-[230.625px] max-w-full scale-100 cursor-cell bg-cover object-center duration-500 hover:scale-105"
>
  <img
    src={thumbnail}
    class="transition-scale h-full w-full scale-125 object-cover object-center duration-500 group-hover:scale-100"
  />
</div>
