---
import Layout from '@/layouts/Layout.astro';

export const prerender = true;
---

<Layout>
  <main class="flex min-h-screen items-center justify-center px-4 text-center">
    <h1 class="mb-4 text-4xl font-bold">
      404 - We couldn't find what you were looking for.
    </h1>
  </main>
</Layout>
