---
import Layout from '@/layouts/Layout.astro';
import { ThreeD } from '@/components/ThreeD';
import { AT, COLOR } from '@/content/constants';

export const prerender = true;
---

<Layout>
  <div class="-mt-2 mb-20 flex flex-col items-center justify-center md:-mt-8">
    <ThreeD name={AT} bg={COLOR} client:load />
  </div>
</Layout>
